html{
    background: #c4c1c1;
}
input {
    background: #a29d9d;
    color: #222122db;
}
button {
     background: #a29d9d;
     box-shadow: none;
     margin-left: 10px;
}
.header {
    text-align: center;
    margin: 2rem 0;
}
.fav-meal {
    width: 400px;
    border: 1px solid green;
    text-align: center;
    margin: 0 auto;
    background-color: #d8b7d8;
}
img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.main-recipe {
    text-align: center;
    margin:  auto;
}
.main-recipe .random-img{
    width: 400px;
    height: 400px;
    border-radius: 0;
}
.main-recipe p {
    top:
}